Repository MrTV044/online-grocery: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config apps/web/eslint.config.mjs, eslint --fix --config apps/api/eslint.config.mjs

.lintstagedrc:

{
  "apps/web/**/*.{ts,js,tsx,jsx}": [
    "eslint --fix --config apps/web/eslint.config.mjs"
  ],
  "apps/api/**/*.{ts,js,tsx,jsx}": [
    "eslint --fix --config apps/api/eslint.config.mjs"
  ]
}

chore: copas prisma
  apps/api/prisma/schema.prisma
Due: none

create new schema
  apps/api/prisma/schema.prisma
Due: none

feat: menambah bagian frontend dari feature2
  apps/api/package.json
  apps/api/prisma/schema.prisma
  apps/api/prisma/seed.ts
  apps/api/src/app.ts
  apps/api/src/configs/prisma.ts
  apps/api/src/controllers/invmanagement-controller.ts
  apps/api/src/routers/invmanagement-routers.ts
  apps/web/src/app/(main-layout)/admin-dashboard/page.tsx
  apps/web/src/app/(main-layout)/admin-dashboard/user/page.tsx
  apps/web/src/app/(main-layout)/explore/page.tsx
  apps/web/src/app/(main-layout)/inventory/page.tsx
  apps/web/src/app/(main-layout)/product/[id]/page.tsx
  apps/web/src/app/(main-layout)/products/[id]/page.tsx
  apps/web/src/app/(main-layout)/products/create/page.tsx
  apps/web/src/app/(main-layout)/products/edit/[id]/page.tsx
  apps/web/src/app/(main-layout)/products/page.tsx
  apps/web/src/app/(main-layout)/store-admin/products/page.tsx
  apps/web/src/app/(main-layout)/store-management/page.tsx
  apps/web/src/app/admin-login/page.tsx
  apps/web/src/app/api/inventory/routes.ts
  apps/web/src/app/api/products/routes.ts
  apps/web/src/app/types/inventory.ts
  apps/web/src/app/types/products.ts
  apps/web/src/component/admin-navbar.tsx
  apps/web/src/component/category-card.tsx
  apps/web/src/component/inventory-table.tsx
  apps/web/src/component/product-card.tsx
  apps/web/src/component/product-detail.tsx
  apps/web/src/component/product-form.tsx
  apps/web/src/component/product-list.tsx
  apps/web/src/component/search-bar.tsx
  apps/web/src/component/stock-updatemodal.tsx
  apps/web/src/component/store-selector.tsx
  apps/web/src/component/user-table.tsx
  apps/web/src/lib/auth.ts
  apps/web/src/lib/users.ts
  package-lock.json
  package.json
Due: eslint --fix --config apps/web/eslint.config.mjs, eslint --fix --config apps/api/eslint.config.mjs

feat: create be admin controller feature2
  apps/api/src/app.ts
  apps/api/src/controllers/admin-controller.ts
  apps/api/src/controllers/invmanagement-controller.ts
  apps/api/src/middlewares/admin-middleware.ts
  apps/api/src/routers/admin-router.ts
  apps/api/src/routers/invmanagement-routers.ts
  apps/api/src/types/express.d.ts
  package-lock.json
  package.json
Due: eslint --fix --config apps/api/eslint.config.mjs

feat: menambah feature 2 menambah product management
  apps/api/package.json
  apps/api/prisma/migrations/20250326084023_feature2_arya/migration.sql
  apps/api/prisma/migrations/migration_lock.toml
  apps/api/prisma/seed.ts
  apps/api/src/app.ts
  apps/api/src/controllers/product-controller.ts
  apps/api/src/middlewares/uploud-middleware.ts
  apps/api/src/routers/product-router.ts
  package-lock.json
  package.json
Due: eslint --fix --config apps/api/eslint.config.mjs

feat: buat feature inventory management
  apps/api/src/app.ts
  apps/api/src/controllers/inventory-controller.ts
  apps/api/src/middlewares/uploud-middleware.ts
  apps/api/src/routers/inventory-router.ts
  apps/api/src/routers/product-router.ts
Due: eslint --fix --config apps/api/eslint.config.mjs

feat: buat feature2 discount management
  apps/api/src/app.ts
  apps/api/src/controllers/discount-controller.ts
  apps/api/src/routers/discount-router.ts
Due: eslint --fix --config apps/api/eslint.config.mjs

fix: nothing
  apps/api/prisma/schema.prisma
  apps/api/prisma/seed.ts
  apps/api/src/controllers/add-to-cart-controller.ts
Due: eslint --fix --config apps/api/eslint.config.mjs

feat: add to cart
  apps/api/prisma/seed.ts
  apps/api/src/controllers/add-to-cart-controller.ts
  apps/api/src/controllers/order-controller.ts
  apps/api/tsconfig.json
Due: eslint --fix --config apps/api/eslint.config.mjs

feat: add to cart api ready (should be)
  apps/api/src/app.ts
  apps/api/src/controllers/add-to-cart-controller.ts
  apps/api/src/routers/add-to-cart-router.ts
Due: eslint --fix --config apps/api/eslint.config.mjs

fix: seed coding
  apps/api/prisma/seed.ts
Due: eslint --fix --config apps/api/eslint.config.mjs

feat: cart CRUD done
  apps/api/prisma/migrations/20250326084023_feature2_arya/migration.sql
  apps/api/prisma/migrations/migration_lock.toml
  apps/api/prisma/seed.ts
  apps/api/src/app.ts
  apps/api/src/controllers/add-to-cart-controller.ts
  apps/api/src/controllers/carting-controller.ts
  apps/api/src/routers/add-to-cart-router.ts
  apps/api/src/routers/carting-router.ts
Due: eslint --fix --config apps/api/eslint.config.mjs

feat: menambah report feature2
  apps/api/src/app.ts
  apps/api/src/controllers/report-controller.ts
  apps/api/src/routers/report-router.ts
Due: eslint --fix --config apps/api/eslint.config.mjs

test: feature inventory fetching error
  apps/web/next.config.ts
  apps/web/src/app/(main-layout)/inventory/page.tsx
  apps/web/src/app/(main-layout)/product/[id]/page.tsx
  apps/web/src/component/inventory-table.tsx
  apps/web/src/component/store-selector.tsx
Due: eslint --fix --config apps/web/eslint.config.mjs

feat: new feature
  apps/api/src/controllers/product-controller.ts
  apps/api/src/middlewares/admin-middleware.ts
  apps/api/src/routers/admin-router.ts
Due: eslint --fix --config apps/api/eslint.config.mjs

feat: new feature2
  apps/web/src/app/(main-layout)/admin-dashboard/user/create/page.tsx
  apps/web/src/app/(main-layout)/admin-dashboard/user/edit/page.tsx
  apps/web/src/app/(main-layout)/explore/page.tsx
  apps/web/src/app/(main-layout)/inventory/page.tsx
  apps/web/src/app/(main-layout)/store-admin/products/page.tsx
  apps/web/src/app/admin-login/page.tsx
  apps/web/src/app/admin-report/page.tsx
  apps/web/src/component/useForm.tsx
  apps/web/src/lib/auth.ts
  apps/web/src/shared/types.ts
  apps/web/src/utils/notify-toast.ts
  package-lock.json
  package.json
Due: eslint --fix --config apps/web/eslint.config.mjs

feat: add explore
  apps/api/prisma/schema.prisma
  apps/api/prisma/seed.ts
  apps/api/src/controllers/product-controller.ts
  apps/web/src/app/(main-layout)/explore/page.tsx
  apps/web/src/app/admin-report/page.tsx
  apps/web/src/app/types/report.ts
  apps/web/src/component/admin-navbar.tsx
  apps/web/src/component/dateFilter.tsx
  apps/web/src/component/salesReport.tsx
  apps/web/src/component/stockReport.tsx
Due: eslint --fix --config apps/web/eslint.config.mjs, eslint --fix --config apps/api/eslint.config.mjs

feat: melakukan fetch data
  apps/api/src/controllers/inventory-controller.ts
  apps/api/src/controllers/product-controller.ts
  apps/web/src/app/(main-layout)/explore/page.tsx
  apps/web/src/app/(main-layout)/inventory/page.tsx
  apps/web/src/app/admin-report/page.tsx
  apps/web/src/app/types/inventory.ts
  apps/web/src/component/inventory-table.tsx
  apps/web/src/component/store-selector.tsx
Due: eslint --fix --config apps/web/eslint.config.mjs, eslint --fix --config apps/api/eslint.config.mjs
